<% provide(:title, 'About Us') %>
<h1>アバウト</h1>
<p>

<strong>このサイトについて</strong><br>
商品紹介を見て、気に入った商品があれば購入ができるWEBサイトです。<br>
アカウントを作成すれば、誰でも商品紹介をすることができるようになります。<br>
<a href = "https://affiliate.amazon.co.jp"/>アマゾンアソシエイトプログラム</a>に参加して、お小遣いを稼ごう！

<br><br> 
<strong>作成者</strong>：早川結希

</p>